* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(28, 34, 48);
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 14;
}

.navbar {
  display: grid;
  grid-template-columns: 70% 30%;
  height: 100px;
  width: 90%;
  align-items: center;
  margin: 30px auto;
  font-family: "Raleway", sans-serif;
}

.navbar_list {
  width: 100%;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  list-style: none;
}

.feature {
  grid-column: 1/2;
}

.team {
  grid-column: 2/3;
}

.signin {
  grid-column: 3/4;
}

.navbar_item a {
  text-decoration: none;
  color: white;
}

/* ********************************************************************************************************************************* */

.landing_page {
  width: 100%;
  margin: auto;
}

.main_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
}

.bg {
  position: relative;
  min-width: 100%;
}

.main_intro {
  background: url(./images/bg-curvy-desktop.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  height: 600px;
}

.main_head {
  font-size: 30px;
  text-align: center;
}

.main_para {
  margin-top: 20px;
  text-align: center;
}

.main_btn {
  display: flex;
  justify-content: center;
  margin: 30px auto 0px auto;
  border: none;
  outline: none;
  border-radius: 35px;
  height: 50px;
  width: 250px;
  align-items: center;
  font-weight: 600;
  background-color: rgb(79, 195, 212);
  color: white;
  font-size: 15px;
  cursor: pointer;
}

/* ********************************************************************************************************************************** */

.card {
  background-color: rgb(24, 31, 43);
  padding-bottom: 50px;
}

.feature_card {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  width: 60%;
  margin: auto;
  align-items: center;
}

.card_1 {
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: center;
  padding: 55px;
}

.card_2 {
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: center;
  padding: 55px;
}

.card_3 {
  grid-column: 1/2;
  grid-row: 2/3;
  text-align: center;
  padding: 55px;
}

.card_4 {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
  padding: 55px;
}

/* ********************************************************************************************************************************** */

.product {
  background-color: rgb(24, 31, 43);
}

.product_info {
  width: 70%;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  margin: auto;
}

.product_img {
  grid-column: 1/2;
  padding: 50px;
}

.pro_img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.product_text {
  grid-column: 2/3;
  padding: 50px;
}

.product_text h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.product_text p {
  margin-bottom: 20px;
}

.product_text a {
  color: rgb(80, 187, 189);
  text-decoration: none;
  border-bottom: 1px solid rgb(80, 187, 189);
}

.product_text a img {
  transform: translate(0, 3px);
}

/* ********************************************************************************************************************************** */

.review {
  background-color: rgb(24, 31, 43);
  padding: 100px;
  height: 600px;
}

.review_cards {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 20% 80%;
  width: 75%;
  margin: auto;
}

.quotes {
  grid-row: 1/2;
  grid-column: 1/2;
}

.reviews {
  margin-left: 50px;
  border-radius: 2%;
}

.review_1 {
  grid-row: 2/3;
  grid-column: 1/2;
  background-color: rgb(33, 41, 60);
  padding: 25px;
}

.review_2 {
  grid-row: 2/3;
  grid-column: 2/3;
  background-color: rgb(33, 41, 60);
  padding: 30px;
}

.review_3 {
  grid-row: 2/3;
  grid-column: 3/4;
  background-color: rgb(33, 41, 60);
  padding: 30px;
}

.reviews p {
  margin-bottom: 25px;
}

.about {
  display: flex;
}

.profile {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.name_pos p {
  font-size: 10px;
}

/* ********************************************************************************************************************************** */

.register {
  background: rgb(24, 31, 43);
  background: linear-gradient(
    180deg,
    rgba(24, 31, 43, 1) 50%,
    rgba(12, 21, 36, 1) 50%
  );
  padding: 50px;
}

.register_box {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55%;
  background-color: rgb(28, 34, 48);
  border-radius: 10px;
  padding: 40px;
  box-shadow: 9px 8px 5px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 9px 8px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 9px 8px 5px 0px rgba(0, 0, 0, 0.25);
}

.register_text {
  padding: 0 50px 0 50px;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
  align-items: center;
  text-align: center;
  margin-bottom: 25px;
}

.register_text h1 {
  grid-row: 1/2;
  grid-column: 1/2;
  font-size: 30px;
  margin-bottom: 20px;
}

.register_text p {
  grid-row: 2/3;
  grid-column: 1/2;
}

.register_box form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.register_box input {
  height: 40px;
  width: 25rem;
  border-radius: 35px;
  padding: 20px;
  font-size: 15px;
  outline: none;
  margin-right: 50px;
  border: none;
}

.register_box button {
  margin: 0px auto 0px auto;
  border: none;
  outline: none;
  border-radius: 35px;
  height: 40px;
  width: 10rem;
  align-items: center;
  font-weight: 600;
  background-color: rgb(79, 195, 212);
  color: white;
  font-size: 15px;
  cursor: pointer;
}

/* ********************************************************************************************************************************** */

.footer {
  padding: 100px;
  background-color: rgb(12, 21, 36);
}

.footer a {
  cursor: pointer;
}

.logo_foot {
  margin-bottom: 50px;
}

.foot {
  display: grid;
  grid-template-columns: 25% 30% 15% 15% 15%;
  grid-template-rows: 100%;
  padding: 20px;
  align-items: baseline;
  justify-content: center;
}

.foot_1 {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
}

.foot_1 img {
  margin-right: 10px;
}

.foot_2 {
  grid-column: 2/3;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  padding: 20px;
  column-gap: 15px;
  row-gap: 10px;
  align-items: center;
  justify-items: center;
}

.contact {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: flex-end;
}

.contact_info {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: flex-start;
}

.mail {
  grid-column: 1/2;
  grid-row: 2/3;
  justify-self: flex-end;
}

.mail_info {
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: flex-start;
}

.foot_3 {
  grid-column: 3/4;
  grid-row: 1/2;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.foot_3 ul {
  list-style: none;
}

.foot_3 ul li {
  margin-bottom: 20px;
}

.foot_4 {
  grid-column: 4/5;
  grid-row: 1/2;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.foot_4 ul {
  list-style: none;
}

.foot_4 ul li {
  margin-bottom: 20px;
}

.foot_5 {
  grid-column: 5/6;
  grid-row: 1/2;
  margin-left: 50px;
  align-items: center;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.foot_5 i {
  color: white;
  padding: 10px;
  font-size: 30px;
}
/* ********************************************************************************************************************************** */
